@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-display: swap;
    font-weight: 100 900;
}

:root{
    --clr-primary-hsl-1: 35, 77%, 62%;
    --clr-primary-hsl-2: 5, 85%, 63%;

    --clr-neutral-hsl-100: 36, 100%, 99%;
    --clr-neutral-hsl-300: 233, 8%, 79%;
    --clr-neutral-hsl-500: 236, 13%, 42%;
    --clr-neutral-hsl-900: 240, 100%, 5%;

    --fw-light: 400;
    --fw-bold: 700;
    --fw-bolder: 800;
    
    --lh-text: 1.5rem;

    --mobile-width-breakpoint: 650px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

svg, img{
    display: block;
    max-width: 100%;
}

body{
    font-family: "Inter";
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    font-weight: var(--fw-normal);
    background-color: hsl(var(--clr-neutral-hsl-100));
}

@media (max-width: 1200px) {
    body{
        width: 90%;
    }
}

.flex-space{
    display: flex;
    justify-content: space-between;
}

.flex-main{
    display: flex;
    flex-direction: column;
    gap: 4em;
}

/* hide images desktop/mobile */
@media (min-width: 650px){
    .desktop{
        display: unset;
    }

    .mobile{
        display: none;
    }
}

@media (max-width: 650px){
    .desktop{
        display: none;
    }

    .mobile{
        display: unset;
    }
}














.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    color: hsl(var(--clr-neutral-hsl-900));
}


.nav-links{
    display: none;
}

.nav-bar{
    margin: 2em 0 2em 0;
    align-items: center;
}

@media (min-width: 650px){
    
    .nav-bar{
        margin-top: 5em;
    }

    .nav-links{
        display: flex;
        justify-content: space-evenly;
        gap: 2em;
    }

    .nav-link{
        text-decoration: none;
        color: hsl(var(--clr-neutral-hsl-500));
    }
    
    .nav-link:hover{
        color: hsl(var(--clr-primary-hsl-2));
    }

    .icon-menu{
        display: none;
    }
}


















@media (min-width: 650px){
    .grid-top-section{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2em;
    }
}

.article{
    color: hsl(var(--clr-neutral-hsl-500));
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.grid-article-text{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

@media (max-width: 650px){
    .article{
        margin-bottom: 3em;
    }
}

@media (min-width: 980px){
    .grid-article-text{
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 2em;
        height: 100%;
        padding: 1em;
    }
}

.article-title{
    font-size: 3rem;
    font-weight: var(--fw-bolder);
    color: hsl(var(--clr-neutral-hsl-900));
    line-height: unset;
}

.article-btn{
    font-weight: var(--fw-bold);
    letter-spacing: .2rem;
    background-color: hsl(var(--clr-primary-hsl-2));
    border: none;
    padding: 1em 2em;
    
}

.article-btn:hover{
    background-color: hsl(var(--clr-neutral-hsl-900));
    color: hsl(var(--clr-neutral-hsl-100));
    cursor: pointer;
}

.article-p-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1rem;
    gap: 1em;
    line-height: var(--lh-text);
}












.new{
    --padding: 2em;
    background-color: hsl(var(--clr-neutral-hsl-900));
    color: hsl(var(--clr-neutral-hsl-300));
    padding: var(--padding) var(--padding) 0 var(--padding);
    line-height: var(--lh-text);
}

.new-title{
    color: hsl(var(--clr-primary-hsl-1));
    font-size: 2rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.new-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-bottom: 4em;
}

.new-item{
    font-size: .9rem;
}

.new-item:last-of-type{
    border-bottom: none;
}

.new-item-title{
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-neutral-hsl-100));
    margin-bottom: .5em;
}

.new-divider{
    border-bottom: 1px solid hsl(var(--clr-neutral-hsl-500));
}

@media (max-width: 650px){
    .new-flex{
        height: 45vh;
        padding-bottom: 2em;
        gap: 1em;
    }
}














.other-stories{
    display: grid;
    gap: 2em;
    margin-bottom: 5em;
}

@media (max-width: 650){
    .other-stories{
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (min-width: 650px) {
    .other-stories{
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        width: 100%;
    }
}

.os-item{
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 1em;
    color: hsl(var(--clr-neutral-hsl-500));
    line-height: var(--lh-text);
}

@media (max-width: 1100px){
    .os-item{
        grid-template-columns: 2fr 3fr;
    }
}

@media (max-width: 950px) and (min-width:650px){
    .os-item{
        display: flex;
        flex-direction: column;
    }
    .os-flex-vert{
        gap: 1em;
    }
}

.os-flex-vert{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    
}

.os-number{
    color: hsl(var(--clr-primary-hsl-2));
    font-size: 2rem;
    font-weight: var(--fw-bold);
    line-height: unset;
}

.os-title{
    color: hsl(var(--clr-neutral-hsl-900));
    font-size: 1.2rem;
    font-weight: var(--fw-bolder);
}

.os-title:hover{
    color: hsl(var(--clr-primary-hsl-2));
    cursor: pointer;
}

.nav-mobile, .icon-close{
    display: none;
}



@media (max-width: 650px){
    .overlay{
        position: absolute;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: hsl(var(--clr-neutral-hsl-900));
        opacity: 50%;
    }
    
    .nav-mobile{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70vw;
        background-color: hsl(var(--clr-neutral-hsl-100));
        display: grid;
        grid-template-rows: 1fr 2fr 3fr;
    }
    
    .mobile-nav-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2em;
    }
    
    .icon-close{
        display: unset;
        position: absolute;
        right: 2em;
        top: 2em;
        z-index: 500;
    }
}




.hidden{
    display: none;
}




















